{% extends "base.html" %}

{% block content %}

<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Acerca de la empresa</h2>
                <h5>Mision</h5>
                <p class="lead">
                    Ofrecer a los clientes los precios más bajos que sea imposible, 
                    obteniendo la mayor selección y disponibilidad de la forma más cómoda posible. 
                    Democratización de los precios. Variedad en la oferta. Accesibilidad y disponibilidad. 
                </p>
                <h5>Vision</h5>
                <p class="lead">
                    convertirse en la compañía más centrada en el cliente del mundo. 
                </p>
                <ul>
                    <li>Obsesión por el cliente.</li>
                    <li>Pasión por la innovación.</li>
                    <li>Excelencia operacional.</li>
                    <li>Enfoque en el largo plazo.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}