{% extends "base.html" %}

{% block content %}


    
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {%for productos in productos%}
            <div class="col mb-5"> 
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ productos.image_url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{productos.nombre}}</h5>
                            <!-- Product price-->
                            <h6 class="card-subtitle mb-2 text-muted">Precio: ${{productos.precio}}</h6>
                            <!-- Description Product -->
                            <p class="card-text"><b>Descripcion:</b> {{productos.descripcion}}</p>
                        </div>
                    </div>
                </div>    
            </div>
            {%endfor%}    
        </div>
    </div>
</section>    
    


{% endblock %}
